@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
//variables
$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-tertiary: #525252;
$color-background-white: #fafafa;
$color-white: #ffffff;
$color-black: #000000;
$color-border-button: #C4C4C4;
$color-background-modal: rgba(196, 196, 196, 0.4);

/* Eléments principaux de la page */
@mixin button-tag {
  border-radius: 20px;
  border: $color-border-button 0.5px solid;
  text-decoration: none;
  color: $color-primary;
  font-weight: 700;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 0.7em;
  &:hover {
      background-color: $color-primary;
      color: $color-white;
  }
 
}

@mixin button-static {
  border-radius: 5px;
  text-decoration: none;
  background-color: $color-primary;
  color: $color-white;
  font-weight: 500;
  padding: 16px 14px;
  font-size: 0.8em;
}
@mixin sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: 'DM Sans', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
  }

.content {

    &__header {
        margin-top: -50px;
        
        margin-right: 10px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    h1 {
        text-align: right;
        font-weight: 300;
        font-size: 1.6em;
        color: $color-primary;
        // margin-right: 10%;
        // margin-top: -50px;
        // margin-bottom: 4%;
        
    }
    &__photographer__profile {

        padding-bottom: 15px;
        margin: 10px;
        a {
            text-decoration: none;
            
        }
        h2 {
            font-weight: 300;
            font-size: 2.3em;
            color: $color-secondary;
            margin-top: 3%;
           
        }
        h3 {
            font-weight: 300;
            font-size: 0.85em;
            margin: 1%;
            color: $color-primary;
        }
        p {
            font-size: 0.8em;
            font-weight: 500;
        }
        h4 {
            font-weight: 300;
            font-size: 0.7em;
            margin: 1%;
        }
    }
    &__photographer__profile__tag {
        display: inline-flex;
    }
}

.content-photographer {
    h2 {
        font-size: 2.6em;
        font-weight: 300;
        color: $color-secondary;
      
    }
    h3 {
        font-weight: 300;
        font-size: 1.2em;
        color: $color-primary;
        margin: 4% 0%;
    }
    p {
        font-size: 0.8em;
        margin: 4% 0%;
    }
    h4 {
        font-size: 0.9em;
    }
    h5 {
        font-size: 1.1em;
        font-weight: 300;
        color: $color-primary;
    }
}

.modal-contact__content {
    h1 {
        font-weight: 300;
        font-size: 2.3em;
        margin-top: 1%;
    
    }
    h2 {
        font-weight: 300;
        font-size: 2.3em;
        margin-bottom: 4%;
        color: $color-black;
   
    }
}

.photographers__home{
    display: flex;
    flex: 30%;
    flex-wrap: wrap;
    margin: 0;
    
}

/* --------------- Flex disposition --------------- */

/* In rows */
@mixin flex-row($justify-content, $align-items)
{
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
}

/* In columns */
@mixin flex-col($justify-content, $align-items)
{
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}


/* --------------- Responsive --------------- */

/* Above a given breakpoint */
@mixin media-above($_key)
{
    @media screen and (min-width: map-get($breakpoints, $_key))
    {
        &{@content;}
    }
}

/* Between two given breakpoints */
@mixin media-between($_key1, $_key2)
{
    @media screen and (min-width: map-get($breakpoints, $_key1)) and (max-width: map-get($breakpoints, $_key2))
    {
        &{@content;}
    }
}

/* Under a given breakpoint */
@mixin media-under($_key)
{
    @media screen and (max-width: map-get($breakpoints, $_key))
    {
        &{@content;}
    }
}

/* --------------- Color chart --------------- */

$primary-color: #901C1C;
$secondary-color: #D3573C;
$tertiary-color: #DB8876;

$text-grey: #525252;
$price-grey: #757575;
$border-grey: #C4C4C4;
$background-grey: #FAFAFA;
$contact-grey: #312E2E;

$black-color: #000000;
$white-color: #FFFFFF;


/* --------------- Breakpoints --------------- */

$breakpoints:
(
    "mobile-max": 767px,
    "tablet-min": 768px,
    "tablet-max": 1023px,
    "desktop-min": 1024px,
    "desktop-max": 1439px,
    "largedesktop-min": 1440px
);

