
.header {
    width: 100%;
    display: flex;
    margin-top: 5%;
   
   
    &__logo {
        margin-left: -20px;
        padding-left: 5%;
        margin-top: -5px;

        @include media-between("tablet-min", "desktop-max")
        {
            padding-bottom: 25px;
        }

        @include media-under("mobile-max")
        {
            width: 125px;
            height: 40px;
            margin-left: -14px;
            transform: scale(0.6);
        }  
    }
    &__navigation {
        margin-top: -3%;
        margin-left: 30%;
        @include media-under("tablet-max")
    {
        
        align-items: center;
    }
    @include media-under("mobile-max")
    {
        margin-top: 20px;
        align-items: center;
    }
        ul {
            display: flex;
            flex-wrap: wrap;
            column-gap: 5px;
            list-style-type: none;
            @include media-between("mobile-max", "tablet-min")
            {
                align-items: center;
                margin-top: 40px;
                margin-bottom: 40px;
            }
            @include media-under("mobile-max")
            {
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 2px;
                align-items: center;
                margin-left: -42%;
                padding: 0px 15px;
            }
        }
        a {
            
            @include button-tag
        }
        .sr-only {
            @include sr-only
        } 
        &__item{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            color: $color-secondary;
        }
        
    }
}

.photographers_button
{
    position: absolute;
    top: 0px;
    left: calc(50% - 80px);
    width: 160px;
    height: 30px;
    @include flex-row(center, center);
    background-color: $tertiary-color;
    color: #000000;
    border-radius: 5px;
    @include media-under("mobile-max")
    {
        display: none;
    }
}
.content {

    &__header {
        margin-top: -10px; 
        margin-right: 0;
        padding-bottom: 30px;
        padding-top: 30px;
      
    }
    h1 {
        text-align: right;
        font-weight: 300;
        font-size: 1.6em;
        color: $color-primary;
        margin-right: 5%;
        margin-top: -50px;
        margin-bottom: 4%;
        @include media-under("mobile-max")
        {
        margin-bottom: 30%;
        margin-top: -35%;
        margin-right: 2%;
         padding-right: 0%;
         font-size: 1.3em; 
        }
        @include media-between("mobile-min", "tablet-max"){
        margin-top: -180px;
        font-size: 1.9rem;
        }
        
    }
    &__photographer__profile {

        padding-bottom: 15px;
        margin: 10px;
        a {
            text-decoration: none;
            @include media-under("mobile-max")
            {
            text-decoration: none;
            }
        }
        h2 {
            font-weight: 300;
            font-size: 2.3em;
            color: $color-secondary;
            margin-top: 3%;
            @include media-under("mobile-max")
            {
            font-size: 1.8em;
            }  
        }
        h3 {
            font-weight: 300;
            font-size: 0.85em;
            margin: 1%;
            color: $color-primary;
        }
        p {
            font-size: 0.8em;
            font-weight: 500;
        }
        h4 {
            font-weight: 300;
            font-size: 0.7em;
            margin: 1%;
        }
    }
    &__photographer__profile__tag {
        display: inline-flex;
    }
}

.content-photographer {
    h2 {
        font-size: 2.6em;
        font-weight: 300;
        color: $color-secondary;
      
    }
    h3 {
        font-weight: 300;
        font-size: 1.2em;
        color: $color-primary;
        margin: 4% 0%;
    }
    p {
        font-size: 0.8em;
        margin: 4% 0%;
    }
    h4 {
        font-size: 0.9em;
    }
    h5 {
        font-size: 1.1em;
        font-weight: 300;
        color: $color-primary;
    }
}
.photographers__home{
    display: flex;
    flex: 30%;
    flex-wrap: wrap;
    margin: 0;
    
}
.content__photographer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    margin-top: 6%;
    margin-bottom: 6%;
    @include media-under("mobile-max"){
        margin-top: 10%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;

        &__profile {
                flex: 100%;
            }  
        h2 {
                font-size: 1.6em;
            } 
    }
    &__profile {
        flex: 33%;
        text-align: center;
       
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: top;
            clip-path: ellipse(50% 50%);
        }
        &__tag 
            
            ul {
            display: flex;
            flex-direction: column;
            column-gap: 5px;
            justify-content: center;
            list-style-type: none;
            margin-top: 3%;
            a {
                @include button-tag;
            }
            .sr-only {
                @include sr-only
            }
            li{
                display: flex;
                flex-direction: column;
                column-gap: 5px;
                justify-content: center;
                list-style-type: none;
                margin-top: 3%; 
            }
        }
    }
    &__contact {
        margin-left: -40%;
        margin-top: 1%;
        a {
            @include button-static;
        
        }
    }
    &__photo {
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            clip-path: ellipse(50% 50%);
           
        }
    }
}



