.contact
{
    &_background
    {
        background-color: rgba(255, 255, 255, 0.7);
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &_content
    {
        width: 40%;
        height: 90%;
        @include media-under("tablet-max")
        {
            width: 70%;
            height: 80%;
            top: 10%;
            left: 15%;
        }
        @include media-under("mobile-max")
        {
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;
            overflow: scroll;
        }
        background-color: $tertiary-color;
        padding: 30px;
        border-radius: 5px;
        position: relative;
        @include flex-col(space-between, stretch);
        overflow: hidden;
        animation: modalopen 300ms ease-in-out;

        &.isClosed
        {
            animation: modalclose 300ms ease-in-out;
        }

        &:hover
        {
            overflow-y: auto;
        }
    }

    &_close
    {
        position: absolute;
        cursor: pointer;
        z-index: 1;  
        top: 20px;
        right: 20px;
        width: 17px;
        height: 17px;
        color: $color-white;
        cursor: pointer;
        border: none;
        background-color: transparent;

        &:before, &:after
        {
            border: transparent;
            position: absolute;
            width: 3px;
            height: 30px;
            content: " ";
            // background-color: #FFFFFF;
        }

        &:before
        {
            transform: rotate(45deg);
        }

        &:after
        {
            transform: rotate(-45deg);
        }
    }

    &_form
    {
        & p
        {
            
            display: none;
        }
    }

    &_text
    {
        margin-bottom: 20px;
        

        & p
        {
            font-size: 3rem;
            display: block;
            margin: 0px;
            @include media-under("tablet-max")
            {
            margin-top: -5px;
            font-size: 2.5rem;
            }
            @include media-under("mobile-max")
            { 
            margin-top: -5px;     
            font-size: 1.8rem;
            }
        }
    }

    &_form
    {
        margin-top: 5px;
        margin-bottom: 5px;

        &_label
        {
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 5px;
            color: $contact-grey;
            font-size: 1.5rem;
            @include media-under("mobile-max")
            {     
            font-size: 1.2rem;
            }
        }
        &_input
        {
            width: calc(100% - 25px);
            height: 3vh;
            padding: 10px;
            border: none;
            border-radius: 3px;
            &#message
            {
                height: 15vh;
            }

            &:focus
            {
                outline: none;
            }
        }

        &_error
        {
            color: $primary-color;
            height: 20px;
            visibility: hidden;
        }

        &.error .contact_form_input
        {
            border: 2px solid $primary-color;
        }

        &.error .contact_form_error
        {
            visibility: visible;
        }
          
        &.success .contact_form_error
        {
            visibility: hidden;
        }
    }

    &_submit
    {
        background-color: $primary-color;
        color: #FFFFFF;
        width: 170px;
        margin-top: 20px;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        border-radius: 3px;
        @include media-under("tablet-max")
        {
         position: relative;
         left: 30%;
        }
        @include media-under("mobile-max")
        {  
            position: relative;
            left: 25%;
            width: 120px;
        }
    }
}
